<section class="login-page-container">
  
  <div class="content-side">
    <div class="header-logo-container">
      <img src="assets/image_c85289.png" alt="EMIR CHAT Logo" class="main-logo">
    </div>

    <div class="description-text">
      <p class="welcome-msg">WELCOME TO EMIR CHAT</p>
      <p class="app-info">
        EMIR CHAT IS A CUTTING-EDGE, REAL-TIME COMMUNICATION PLATFORM DESIGNED TO BRIDGE THE GAP BETWEEN INSTANT MESSAGING AND SEAMLESS COLLABORATION. BUILT WITH A FOCUS ON SPEED, SECURITY, AND A "MINIMALIST-FIRST" USER EXPERIENCE, EMIR CHAT ENSURES THAT YOUR CONVERSATIONS FLOW NATURALLY WITHOUT THE CLUTTER OF TRADITIONAL SOCIAL APPS.
      </p>
    </div>

    <div class="action-row">
      <h1 class="start-text">Let's Start</h1>
      <button (click)="handleAuth()" class="btn btn-google">
        <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1712537582/google-logo.png" alt="Google">
        SIGNUP USING GOOGLE
      </button>
    </div>
  </div>

  <div class="image-side">
    <img src="assets/image_c852c2.png" alt="User using phone" class="hero-image">
  </div>

</section>